* {
	margin: 0;
	padding: 0;
font-size: 20px;
}
body {	
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
}
.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	
}
header {
	display: flex;
	justify-content: end;
	padding: 20px;
	background: linear-gradient(#1a0000, #000329);
}
main {
	background: linear-gradient(#ffeeee, #e7e8f5);	
	 flex: 1 1 auto;
}
footer {
display: flex;
	justify-content: center;
	padding: 20px 0;
	background: linear-gradient(#1a0000, #000329);
}
.products {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
}
.product-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 10px;
	font-size: 30px;
	font-weight: 800;
	width: 100%;
}
.product-item * {
	margin: 10px;
}
button {
	padding: 5px 10px;
	background: linear-gradient(#ffeeb7, #ffbfbf);
	border-radius: 5px;
	color: #290000;
	border: 1px solid #868686;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	
}
button:hover {
	background: linear-gradient(#ada27d, #a17a7a);
	border: 1px solid #000000;

	color: #ffffff;
}
img {
	max-width: 400px;
	width: 100%;
}
.summ {
	padding: 20px;
	display: flex;
	justify-content: end;
}
@media (max-width:769px) {
	.products {
		flex-direction: column;
	}
}